<section id="footer">
    <div id="top-footer">
      <h4>Logistics Company</h4>
    </div>
    <div id="mid-footer">
      <div class="container">
        <div>
          <p>About Logistics</p>
          <hr />
          <p>
            At [Your Company Name], we specialize in providing efficient and
            reliable logistics and transportation solutions. With our extensive
            network and experienced team, we ensure your goods reach their
            destination safely and on time.
          </p>
        </div>
        <div>
          <p>Social Media</p>
          <hr />
          <p>Icons</p>
        </div>
        <div>
          <p>Links</p>
          <hr />
          <p>UL</p>
        </div>
        <div>
          <p>Contact Us</p>
          <hr />
          <p>
            At [Your Company Name], we specialize in providing efficient and
            reliable logistics and transportation solutions. With our extensive
            network and experienced team, we ensure your goods reach their
            destination safely and on time.
          </p>
        </div>
      </div>
    </div>
    <div id="bottom-footer">
      <p>Test</p>
    </div>
  </section>
  