// _variables.scss

// Fonts
$font-family-title: "Koulen", cursive;
$font-family-body: "Lexend", sans-serif;

$font-size-base: 16px;

// Colors
$primary-color: #3c763d;
$secondary-color: #a94442;

// Margins and Pading
$margin-body: 0px;
$margin-section: 0px;
$pading-section: 0px;
