<app-header></app-header>
<p>{{'HOMEPAGE_WORKS' | translate}}!</p>
<section id="services">
    <img
      class="background-image-services"
      src="../../assets/Frame 42backgroundlines.png"
      alt="background image"
    />
    <div class="img-wrapper">
      <img src="../../assets/Ellipse 7.png" alt="Image of logistics worker" />
    </div>
  
    <div id="about-us">
      <!-- <p>{{'LANGUAGE_CODE' | translate}}!</p> -->
      <p class="about-us-subtitle">WE ARE HERE TO HELP YOU</p>
      <p class="about-us-title">
        We’re <span class="about-us-title-inner">the best</span> <br />
        of the best
      </p>
      <p class="about-us-message">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div id="services-row">
      <div id="services-row">
        <div class="service-wrapper">
          <img src="../../assets/customs-1.png" alt="" />
          <p class="img-text">Land Fright</p>
        </div>
        <!-- Repeat for each image -->
        <div class="service-wrapper">
          <img src="../../assets/customs-2.png" alt="" />
          <p class="img-text">labor</p>
        </div>
        <div class="service-wrapper">
          <img src="../../assets/customs-3.png" alt="" />
          <p class="img-text">Ship Fright</p>
        </div>
        <div class="service-wrapper">
          <img src="../../assets/customs-4.png" alt="" />
          <p class="img-text">Storage</p>
        </div>
        <div class="service-wrapper">
          <img src="../../assets/customs-3.png" alt="" />
          <p class="img-text">Ship Fright</p>
        </div>
        <div class="service-wrapper">
          <img src="../../assets/customs-4.png" alt="" />
          <p class="img-text">Storage</p>
        </div>
      </div>
    </div>
  </section>
  <section id="we-provide">
    <img
      src="../../assets/dark0past_cinematic_realistic_photo_of_van_customs_clearance_da_58ea434f-02b4-43e9-85db-58859a7bfaa0.png"
      alt="Banner Image"
    />
  </section>
  <!-- <section id="we-provide">
    <img src="../../assets/Van.png" alt="Banner Image" />
  </section>
  
  <section id="clients"></section> -->
  <section id="gallery-grid">
    <div class="grid-item item1">
      <img
        class="grid-img"
        src="../../assets/workers in storage.png"
        alt="Image Description"
      />
    </div>
    <div class="grid-item item2">
      <img
        class="grid-img"
        src="../../assets/Continership.png"
        alt="Image Description"
      />
    </div>
    <div class="grid-item item3">
      <img
        class="grid-img"
        src="../../assets/customs.png"
        alt="Image Description"
      />
    </div>
    <div class="grid-item item4">
      <img
        class="grid-img"
        src="../../assets/truck 2.png"
        alt="Image Description"
      />
    </div>
  </section>
  <!-- <section id="contact">
    <img src="../../assets/customs.png" alt="Banner Image" />
  </section> -->
  <!-- <section id="contact">
    <img src="../../assets/image 5.png" alt="Banner Image" />
  </section> -->
  <section id="contact">
    <img src="../../assets/customs.png" alt="Banner Image" />
  </section>
  <app-footer></app-footer>
